.counter{
    display: flex;
    align-items: center;
    border : solid 2px;
    border-radius: 20px;
    padding: 0.5rem;
}

.counter button{
    background-color: inherit;
    border: none;
    font-size: 2rem;
}

.counter button:hover{
    scale:1.2;
}