.dailygoals{
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 2rem;
    border: solid 2px;
    border-radius: 20px;;
}

.goalitems{
    display: flex;
    flex-direction: column;
}

.goalitem{
    display: flex;
    justify-content: space-between;
    margin : 1rem;
    gap : 5rem;
}

