.dailygoals{
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    font-size: 1.5rem;
    margin: 2rem;
    padding: 2rem;
    border: solid 2px var(--clr-primary);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px var(--clr-primary);
    gap : 0.5rem;
    gap : 2rem;
}

.goalitems{
    display: flex;
    flex-direction: column;
}

.goalitem{
    display: flex;
    justify-content: space-between;
    margin : 1rem;
    gap : 5rem;
}

.submit-btn{
    background-color: var(--clr-primary);
    border-radius: 5px;
    border: none;
    padding: 0.5rem;
}

.submit-btn:hover{
    scale:1.05;
}

