.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.demo{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem 4rem 0rem 4rem;
    font-size: 1rem;
}

.demo-btns{
    margin:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:2rem;
}