.popup{
    position : fixed;
    top : 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content{
    position: relative;
    padding: 3rem;
    width: 100%;
    max-width: 640px;
}

.popup-content .close-btn{
    position: absolute;
    top: 1rem;
    right: 1rem;
}