.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    border : solid 2px;
    gap:1rem;
    padding : 2rem;
    /* when in percentages even height is calculated as percentage oof width */
    margin-top: 50vh;
    margin-left: 50vw;
    margin-bottom: auto;
    margin-right: auto;
    transform: translate(-49%, -60%);
    width: fit-content;
    border: solid 2px var(--clr-primary);
    border-radius: 20px;
    box-shadow: 0px 0px 20px 2px var(--clr-primary);
}

.register form{
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    width: 25%;
    align-items: center;
    gap: 1rem;
}

.register input{
    font-size:1rem;
}

.yourhealthbuddy{
    font-size : 3rem;
    color: var(--clr-primary)
}

.register button{
    font-size: 1rem;
}
